@-webkit-keyframes armHand {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes armHand {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes alert {
  0% {
    color: gold;
  }
  50% {
    color: rgba(255, 215, 0, 0.35);
  }
  100% {
    color: gold;
  }
}

@keyframes alert {
  0% {
    color: gold;
  }
  50% {
    color: rgba(255, 215, 0, 0.35);
  }
  100% {
    color: gold;
  }
}

@-webkit-keyframes lightsOn {
  0% {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
            box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
    background: gold;
  }
  50% {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 10px 2px gold;
            box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 10px 2px gold;
    background: yellow;
  }
  100% {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
            box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
    background: gold;
  }
}

@keyframes lightsOn {
  0% {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
            box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
    background: gold;
  }
  50% {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 10px 2px gold;
            box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 10px 2px gold;
    background: yellow;
  }
  100% {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
            box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
    background: gold;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  background: lightgrey;
  overflow: hidden;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("casino3.png");
  z-index: -1;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.lights {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lights span {
  margin-top: 10px;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
          box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 0px 0 goldenrod;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: gold;
}

.lights span.light-active {
  -webkit-animation: lightsOn 0.25s linear;
          animation: lightsOn 0.25s linear;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 10vh auto;
}

.result {
  position: relative;
  width: 50%;
  height: 120px;
  background: #747474;
  margin: 0 auto;
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 5px -3px 10px 10px rgba(0, 0, 0, 0.4), inset 5px 0px 8px 5px rgba(47, 31, 0, 0.7);
          box-shadow: 5px -3px 10px 10px rgba(0, 0, 0, 0.4), inset 5px 0px 8px 5px rgba(47, 31, 0, 0.7);
}

.result .result-screen {
  -webkit-box-shadow: inset 5px 3px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: inset 5px 3px 5px 5px rgba(0, 0, 0, 0.6);
  letter-spacing: -1px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 18px;
  text-transform: uppercase;
  background: #690203;
  color: gold;
  overflow: hidden;
  cursor: pointer;
}

.result .result-screen:hover::before {
  -webkit-box-shadow: 0 -10px 25px 15px rgba(255, 255, 255, 0.25);
          box-shadow: 0 -10px 25px 15px rgba(255, 255, 255, 0.25);
}

.result .result-screen.alert {
  -webkit-animation: alert 0.35s linear 0s infinite;
          animation: alert 0.35s linear 0s infinite;
}

.result .result-screen:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-box-shadow 0.15s;
  transition: -webkit-box-shadow 0.15s;
  transition: box-shadow 0.15s;
  transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
  width: 300px;
  -webkit-transform: translate(-50%, -50%) rotate(-8deg);
          transform: translate(-50%, -50%) rotate(-8deg);
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 5px 25px 15px rgba(255, 255, 255, 0.25);
          box-shadow: 0 5px 25px 15px rgba(255, 255, 255, 0.25);
}

.game-board {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 300px;
  background: #7c7c7c;
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 5px -3px 10px 5px rgba(0, 0, 0, 0.4), inset 7px 3px 20px 2px rgba(36, 24, 0, 0.9);
          box-shadow: 5px -3px 10px 5px rgba(0, 0, 0, 0.4), inset 7px 3px 20px 2px rgba(36, 24, 0, 0.9);
}

.game-board .cards-container {
  overflow: hidden;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 52.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: goldenrod;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset rgba(26, 26, 26, 0.6) 3px 4px 6px 5px, inset #be9120 0 -1px 3px 10px, inset black 0 2px 5px 5px, rgba(41, 31, 6, 0.4) -2px -2px 10px 3px;
          box-shadow: inset rgba(26, 26, 26, 0.6) 3px 4px 6px 5px, inset #be9120 0 -1px 3px 10px, inset black 0 2px 5px 5px, rgba(41, 31, 6, 0.4) -2px -2px 10px 3px;
}

.game-board .cards-container .gate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  cursor: default;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  border-radius: 25px;
  -webkit-box-shadow: inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px, inset rgba(61, 40, 0, 0.25) 0 -1px 2px 7px, inset rgba(179, 179, 179, 0.7) 0 2px 3px 7px;
          box-shadow: inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px, inset rgba(61, 40, 0, 0.25) 0 -1px 2px 7px, inset rgba(179, 179, 179, 0.7) 0 2px 3px 7px;
  background-image: -webkit-repeating-linear-gradient(left, rgba(179, 179, 179, 0) 0%, rgba(179, 179, 179, 0) 6%, rgba(179, 179, 179, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(179, 179, 179, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), -webkit-gradient(linear, left top, left bottom, from(#999999), color-stop(47%, #b3b3b3), color-stop(53%, #cccccc), to(#666666));
  background-image: -webkit-repeating-linear-gradient(left, rgba(179, 179, 179, 0) 0%, rgba(179, 179, 179, 0) 6%, rgba(179, 179, 179, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(179, 179, 179, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, #999999 0%, #b3b3b3 47%, #cccccc 53%, #666666 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.game-board .cards-container .gate .gate-text,
.game-board .cards-container .gate .gate-subtext {
  width: 100%;
  margin: 10px;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0, rgba(255, 255, 255, 0.6) 0 2px 1px;
  color: #5a5a5a;
}

.game-board .cards-container .gate .gate-text {
  font-size: 4rem;
}

.game-board .cards-container .gate .gate-subtext {
  line-height: 20px;
  font-size: 1.25rem;
}

.game-board .cards-container .gate .reset {
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s, -webkit-transform 0.15s, -webkit-box-shadow 0.15s;
  padding: 25px 30px 20px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: inset #7c7c7ccc 0 -1px 5px 4px, inset #ffffffb3 0 -1px 0px 7px, inset #27272740 0 2px 1px 7px, 2px 3px 3px 0 #555555;
          box-shadow: inset #7c7c7ccc 0 -1px 5px 4px, inset #ffffffb3 0 -1px 0px 7px, inset #27272740 0 2px 1px 7px, 2px 3px 3px 0 #555555;
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), -webkit-gradient(linear, left top, left bottom, from(#c7c7c7), color-stop(47%, #e6e6e6), color-stop(53%, #c7c7c7), to(#b3b3b3));
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%);
}

.game-board .cards-container .gate .reset:hover {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: inset #7c7c7ccc 0 -1px 5px 4px, inset #ffffffb3 0 -1px 0px 7px, inset #27272740 0 2px 1px 7px, 0 0 0 0 #555555;
          box-shadow: inset #7c7c7ccc 0 -1px 5px 4px, inset #ffffffb3 0 -1px 0px 7px, inset #27272740 0 2px 1px 7px, 0 0 0 0 #555555;
}

.game-board .cards-container:before {
  content: '';
  position: absolute;
  width: 700px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.3);
  z-index: 1;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.game-board .cards-container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(155, 155, 155, 0.1);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-box-shadow: inset 15px 15px 50px 0px rgba(214, 214, 214, 0.25), inset -10px -10px 30px 0 rgba(180, 180, 180, 0.5);
          box-shadow: inset 15px 15px 50px 0px rgba(214, 214, 214, 0.25), inset -10px -10px 30px 0 rgba(180, 180, 180, 0.5);
}

.game-board .cards-container:hover {
  cursor: pointer;
}

.game-board .cards-container:hover::before {
  -webkit-box-shadow: 0 -35px 50px 50px rgba(255, 255, 255, 0.3);
          box-shadow: 0 -35px 50px 50px rgba(255, 255, 255, 0.3);
}

.game-board .cards-container:hover::after {
  background: rgba(255, 255, 255, 0.15);
}

.game-board .cards-container .card {
  width: 25%;
  height: 175px;
  background: silver;
  border: 3px solid #603912;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 10px #ab6b11, inset 0 0 20px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0 10px #ab6b11, inset 0 0 20px 0 rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
}

.game-board .cards-container .card ul {
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: bottom 2s ease;
  transition: bottom 2s ease;
}

.game-board .cards-container .card ul li {
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-board .arm {
  position: absolute;
  width: 50px;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c7971d), color-stop(#b19600), to(#c7971d));
  background: linear-gradient(#c7971d, #b19600, #c7971d);
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0 100% 100% 0;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75) 12px 10px 10px 2px;
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75) 12px 10px 10px 2px;
}

.game-board .arm:hover .arm-span::after {
  -webkit-box-shadow: inset rgba(88, 0, 0, 0.8) 0 -1px 7px 4px, inset rgba(255, 0, 0, 0.7) 0 2px 1px -10px, rgba(0, 0, 0, 0.5) 12px -2px 5px 4px;
          box-shadow: inset rgba(88, 0, 0, 0.8) 0 -1px 7px 4px, inset rgba(255, 0, 0, 0.7) 0 2px 1px -10px, rgba(0, 0, 0, 0.5) 12px -2px 5px 4px;
}

.game-board .arm:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), color-stop(gold), to(goldenrod));
  background: linear-gradient(goldenrod, gold, goldenrod);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0 100% 100% 0;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) 7px 0 7px 0px;
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) 7px 0 7px 0px;
}

.game-board .arm .arm-span {
  position: absolute;
  width: 20px;
  height: 175px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8d36b), to(#bb7232));
  background: linear-gradient(#e8d36b, #bb7232);
  left: 10%;
  bottom: 50%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  border-radius: 100% 100% 75% 75%;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4) 10px 5px 7px 2px;
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4) 10px 5px 7px 2px;
}

.game-board .arm .arm-span.arm-clicked {
  -webkit-animation: armHand 1.5s;
          animation: armHand 1.5s;
}

.game-board .arm .arm-span:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 50%;
  top: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: red;
  -webkit-box-shadow: inset rgba(29, 0, 0, 0.8) 0 -1px 7px 4px, inset rgba(255, 0, 0, 0.7) 0 2px 1px -10px, rgba(0, 0, 0, 0.5) 12px -2px 5px 4px;
          box-shadow: inset rgba(29, 0, 0, 0.8) 0 -1px 7px 4px, inset rgba(255, 0, 0, 0.7) 0 2px 1px -10px, rgba(0, 0, 0, 0.5) 12px -2px 5px 4px;
}

.console-container {
  height: 150px;
  -webkit-perspective: 400px;
          perspective: 400px;
  width: 80%;
  margin: 0 auto;
}

.console-container .console {
  background: #868686;
  height: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(27deg) scaleY(1.075);
          transform: rotateX(27deg) scaleY(1.075);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 8px 5px 20px 5px rgba(44, 29, 0, 0.6), 10px -5px 15px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 8px 5px 20px 5px rgba(44, 29, 0, 0.6), 10px -5px 15px 2px rgba(0, 0, 0, 0.3);
}

.console-container .console .set-deal {
  width: 30%;
  padding: 20px;
  text-align: center;
  font-size: 1.75rem;
  background: goldenrod;
  border: none;
  -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.35), inset -15px -15px 25px 5px rgba(255, 255, 255, 0.35);
          box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.35), inset -15px -15px 25px 5px rgba(255, 255, 255, 0.35);
  border: 2px solid gold;
  border-radius: 15px;
  color: #3c3c3c;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  font-family: 'Press Start 2P', cursive;
}

.console-container .console .set-deal::-webkit-inner-spin-button, .console-container .console .set-deal::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.console-container .console .set-deal::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P', cursive;
}

.console-container .console .set-deal:-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P', cursive;
}

.console-container .console .set-deal::-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P', cursive;
}

.console-container .console .set-deal::placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P', cursive;
}

.console-container .console .set-deal:hover {
  background: #e0b548;
  cursor: pointer;
}

.console-container .console .stats {
  text-align: center;
  width: 60%;
  height: 80%;
  background: goldenrod;
  padding: 10px;
  font-size: 1.05rem;
  line-height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #c3a600;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  color: #313131;
  text-shadow: 1px 1px 0px lightgrey;
  letter-spacing: 1px;
  -webkit-box-shadow: inset #aa821d 0 -5px 5px 4px, inset rgba(150, 150, 150, 0.25) 0 -1px 0px 7px, inset rgba(225, 225, 225, 0.7) 0 2px 10px 7px, rgba(0, 0, 0, 0.15) -10px -3px 6px 2px;
          box-shadow: inset #aa821d 0 -5px 5px 4px, inset rgba(150, 150, 150, 0.25) 0 -1px 0px 7px, inset rgba(225, 225, 225, 0.7) 0 2px 10px 7px, rgba(0, 0, 0, 0.15) -10px -3px 6px 2px;
}

.console-container .console .stats p {
  width: 33.333%;
  height: 50%;
  display: block;
  font-weight: 700;
}

.console-container .console .stats p:nth-of-type(4) {
  width: 50%;
}

.console-container .console .stats p:nth-of-type(5) {
  width: 50%;
}

.console-container .console .stats:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  -webkit-transform: translate(-50%, -50%) rotate(-15deg);
          transform: translate(-50%, -50%) rotate(-15deg);
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 20px 30px 40px rgba(255, 255, 255, 0.3);
          box-shadow: 0 20px 30px 40px rgba(255, 255, 255, 0.3);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.console-container .console .stats:hover {
  cursor: pointer;
  background: #d6ac41;
}

.console-container .console .stats:hover::before {
  -webkit-box-shadow: 0 -30px 30px 30px rgba(255, 255, 255, 0.3);
          box-shadow: 0 -30px 30px 30px rgba(255, 255, 255, 0.3);
}

.block {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  border-radius: 20px 18px 40px 40px / 25% 25% 40px 40px;
  -webkit-box-shadow: inset 7px -7px 25px 6px rgba(31, 19, 0, 0.8), 10px -5px 10px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 7px -7px 25px 6px rgba(31, 19, 0, 0.8), 10px -5px 10px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(#929091), to(#444244));
  background: linear-gradient(#929091, #444244);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block .reward {
  width: 300px;
  height: 135px;
  border-radius: 25px;
  background: #9e7715;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  cursor: pointer;
}

.block .reward:hover .glass:after {
  -webkit-transform: translate(-65%, -50%) rotate(-12deg);
          transform: translate(-65%, -50%) rotate(-12deg);
}

.block .reward:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.block .reward .shadow {
  content: '';
  border-radius: 25px;
  -webkit-box-shadow: inset 0 -5px 15px 2px rgba(2, 0, 0, 0.85);
          box-shadow: inset 0 -5px 15px 2px rgba(2, 0, 0, 0.85);
  z-index: 1;
}

.block .reward .coins-fall-win,
.block .reward .coins-win,
.block .reward .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes goldReward {
  0% {
    background-position: center -250%;
  }
  60% {
    background-position: center 0;
  }
  80% {
    background-position: center 0;
  }
  100% {
    background-position: center -250%;
  }
}

@keyframes goldReward {
  0% {
    background-position: center -250%;
  }
  60% {
    background-position: center 0;
  }
  80% {
    background-position: center 0;
  }
  100% {
    background-position: center -250%;
  }
}

@-webkit-keyframes goldFall {
  0% {
    background-position: center 1200%;
  }
  75% {
    background-position: center 0;
  }
  100% {
    background-position: center 0;
  }
}

@keyframes goldFall {
  0% {
    background-position: center 1200%;
  }
  75% {
    background-position: center 0;
  }
  100% {
    background-position: center 0;
  }
}

.block .reward .coins-fall-win {
  width: 100%;
  background: url("coins-fall-win.png");
  background-size: 100% auto;
  background-position: center 1200%;
}

.block .reward .coins-fall-win.active-anim {
  -webkit-animation: goldFall 4s linear;
          animation: goldFall 4s linear;
}

.block .reward .coins-win {
  background: url("coins-win.png") no-repeat;
  background-position: center -200%;
}

.block .reward .coins-win.active-anim {
  -webkit-animation: goldReward 4s ease-out;
          animation: goldReward 4s ease-out;
}

.block .reward .glass {
  position: absolute;
  width: 100%;
  height: 65%;
  background: rgba(255, 255, 255, 0.233);
  border-radius: 25px 25px 0 0;
  -webkit-box-shadow: inset rgba(195, 160, 0, 0.5) 0 3px 5px 2px, inset #614517 0 -1px 6px 0px, inset rgba(175, 0, 0, 0.102) 0 2px 5px 7px, rgba(92, 10, 10, 0.2) 0px 0px 5px 3px;
          box-shadow: inset rgba(195, 160, 0, 0.5) 0 3px 5px 2px, inset #614517 0 -1px 6px 0px, inset rgba(175, 0, 0, 0.102) 0 2px 5px 7px, rgba(92, 10, 10, 0.2) 0px 0px 5px 3px;
  overflow: hidden;
}

.block .reward .glass:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-box-shadow 0.15s;
  transition: -webkit-box-shadow 0.15s;
  transition: box-shadow 0.15s;
  transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
  width: 400px;
  -webkit-transform: translate(-50%, -50%) rotate(-8deg);
          transform: translate(-50%, -50%) rotate(-8deg);
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 5px 35px 15px rgba(255, 255, 255, 0.25);
          box-shadow: 0 5px 35px 15px rgba(255, 255, 255, 0.25);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}
/*# sourceMappingURL=style.css.map */